
@media only screen and (max-width: 1024px){
	
	 		.subtitle{
			font-size: 15.2px;
		}
	 		
										}

@media only screen and (max-width: 1000px){
	
	
		.header_top {
		background-color: #000000 !important;
	}
		
		.header_bottom {
		background-color: #000000;
	}
				.header_bottom,
		nav.mobile_menu{
				background-color: #ffffff !important;
		}
	
	}

@media only screen and (min-width: 480px) and (max-width: 768px){

}

@media only screen and (min-width: 600px) and (max-width: 768px){
			.content h1{
			font-size:35.2px;
		}
				.title.title_size_small h1,
		.title.title_size_small h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:18px;
		}
					.title.title_size_large h1,
		.title.title_size_large h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:32px;
		}
								
			.subtitle{
			font-size: 15.2px;
		}
	 }

@media only screen and (min-width: 480px) and (max-width: 768px){
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 200px !important;
	}
		
	}

@media only screen and (max-width: 600px){
			.content h1{
			font-size:30.8px;
		}
				.title.title_size_small h1,
		.title.title_size_small h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:18px;
		}
					.title.title_size_large h1,
		.title.title_size_large h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:22.4px;
		}
					.content h2{
				font-size:16px;
			}
							
	}

@media only screen and (max-width: 480px){

			.content h1{
			font-size:26.4px;
		}
				.title.title_size_small h1,
		.title.title_size_small h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:18px;
		}
					.title.title_size_large h1,
		.title.title_size_large h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:19.2px;
		}
								
		section.parallax_section_holder{
		height: auto !important;
		min-height: 200px !important;
	}
		
	
	
	}